@import "style/ColorScheme.scss";

.li {
  background-color: $my_blue;
  list-style: none;
  color: $my_white;
  padding: 1rem 0 1rem 1rem;

  &:hover {
    background-color: $my_white;
    color: $my_blue;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  }
}
