@import "style/ColorScheme.scss";

.li {
  position: relative;
  width: 100%;
  height: calc(100% / 20);
  list-style: none;
  background-color: $my_white;
  color: $my_blue;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  border-bottom: 2px solid $my_smoothgray;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}

.span {
  position: relative;
  top: 50%;
  left: 0;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% / 10);
  transform: translateY(-50%);
  height: 100%;
  padding-left: 1rem;
  text-align: left;
}

.id {
}

.name {
  text-decoration: none;
  color: $my_blue;
  overflow: hidden;
  &:hover {
    filter: brightness(1.3);
  }
}

.content {
}

.create_time {
}

.deadline_time {
}

.member_count {
}

.deadline_member_count {
}

.image {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.status {
}

.categoryId {
}

.txt {
  position: relative;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}
