@import "style/ColorScheme.scss";

.li {
  position: relative;
  width: 100%;
  list-style: none;
  background-color: $my_white;
  color: $my_blue;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  border-bottom: 2px solid $my_smoothgray;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.span {
  display: inline-block;
}

.id {
  width: 5%;
}

.name {
  width: 5%;
  text-decoration: none;
  color: $my_blue;

  &:hover {
    filter: brightness(1.3);
  }
}

.content {
  width: 25%;
}

.create_time {
  width: 10%;
}

.deadline_time {
  width: 10%;
}

.member_count {
  width: 5%;
}

.deadline_member_count {
  width: 5%;
}

.image {
  width: 25%;
}

.status {
  width: 5%;
}

.categoryId {
  width: 5%;
}
