@import "./ColorScheme.scss";

.group-wrap{
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: $my_smoothgray;
  height: 100%;
}

.group-header{
  display: flex;
}

.group-container{
  display: flex;
  align-items: center;
  background-color: $my_smoothgray;
  flex-direction: column;
  height: 100%;
}
.group-form{
  display: flex;
  align-items: center;
  width: 55%;
  height: 60%;
  background-color: $my_white;
  margin-top: 1%;
  border-radius: 30px;
  justify-content: space-around;
}

.group-info-form{
  margin-top: 1%;
  width: 55%;
  display: flex;
  flex-direction: column;
}

.group-info-btn-true{
  width: 50%;
  height: 60px;
  background-color: $my_white;
  border-radius: 10px;
  border: 1px;
  cursor: default;
  font-size: 1.6em;
  padding: 0; 
}
.group-info-btn-false{
  width: 50%;
  height: 60px;
  background-color: $my_white;
  border-radius: 10px;
  border: 1px;
  cursor: pointer;
  padding: 0;
  font-size: 1.6em;
} 

.group-groupContent{
  background-color: $my-white;
  margin-left: auto;
  margin-right: auto;
  min-height: 1000px;
  width: 100%;
}

.group-commentContent{
  background-color: $my-white;
  margin-left: auto;
  margin-right: auto;
  min-height: 1000px;
  width: 100%;
}

.group-h1{
  margin-top: -0.2%;
}

.group-info-div{
  display: flex;
  justify-content: space-between;
}

.group-form-top{
  margin-left: 5%;
}

.group-form-bottom{
  display: flex;
  flex-direction: column;
}

.group-form-btn{
  background-color: $my_blue;
  height: 50px;
  width: 200px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50px;
}

.group-form-btn-text{
  margin: 0;
  color: $my-white;
}

.group-form-bottom-txt{
  display: flex;
  justify-content: stretch;
}

.group-comment {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  background-color: $my_smoothgray;
  margin-top: 2%;
  align-items: center;
  border-radius: 30px;
}

.group-c1{
  margin-left: 4%;
  width: 20%;
}

.group-c3{
  width: 60%;
}

.group-c4{
  margin-left: auto;
  margin-right: 2%;
}

.group-form-div{
  display: flex;
  flex-direction: column;
}

.group-btn{
  background-color: $my-white;
  border: none;
  cursor: pointer;
}

.group-comment-submit{
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
}

.group-comment-input{
  margin-left: 1%;
  display: flex;
  width: 94%;
}

.group-comment-submit-input{
  width: 100%;
  border-radius: 20px;
  border: none;
  background-color: $my_smoothgray;
}

.group-comment-submit-btn{
  width: 5%;
  border-radius: 10px;
  background-color: $my_smoothgray;
  margin-left:-4%;
  border: none;
  cursor: pointer;
}

.group-comment-submit-name{
  background-color: $my_smoothgray;
  border-radius: 30px;
  width: 10%;
  display: flex;
  justify-content: center;
}