.err {
  text-align: center;
}

.err span {
  padding: 64px 0;
  width: 160px;
  text-align: center;
}

.listClass {
  margin: 0 auto;
  width: 850px;
}

.listClass span {
  margin: 0;
}

.list {
  border-radius: 10px;
  width: 100%;
  height: 60px;
  background: #999;
  color: #fff;
  display: flex;
  font-weight: bold;
  text-align: center;
  justify-content: space-between;
  z-index: -1;
  translate: 0.05s;
}

.list span {
  padding: 15px 0;
}